<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

    {{ partial "head.html" . }}

    <body lang="{{ .Site.Params.lang }}">

        <header id="header" class="clearfix">
            <div id="cover" style="background-image: url({{ if .Params.header }}{{ .Params.header }}{{ else }}{{ .Site.Params.defaultHeader }}{{end}});"></div>
            <a href="#" title="Startseite"><img src="img/logo.png" id="logo" alt="Logo"></a>

            <div class="inner">
                <h1>{{ .Site.Title }}</h1>
                <nav class="collapsed clearfix">
                    <ul class="clearfix">
                        {{ $currentNode := . }}
                        {{ range .Site.Menus.main }}
                            {{ $isActive := $currentNode.IsMenuCurrent "main" . }}
                            {{ partial "li.html" (dict "content" . "isActive" $isActive) }}
                        {{ end }}
                    </ul>
                    {{ if .Site.Menus.main2 }}
                        <ul class="clearfix">
                            {{ $currentNode := . }}
                            {{ range .Site.Menus.main2 }}
                                {{ $isActive := $currentNode.IsMenuCurrent "main2" . }}
                                {{ partial "li.html" (dict "content" . "isActive" $isActive) }}
                            {{ end }}
                        </ul>
                    {{ end }}
                    {{ if .Site.Menus.main3 }}
                        <ul class="clearfix">
                            {{ $currentNode := . }}
                            {{ range .Site.Menus.main3 }}
                                {{ $isActive := $currentNode.IsMenuCurrent "main3" . }}
                                {{ partial "li.html" (dict "content" . "isActive" $isActive) }}
                            {{ end }}
                        </ul>
                    {{ end }}
                    {{ if .Site.Menus.secondary }}
                        <ul class="secondary clearfix">
                            {{ $currentNode := . }}
                            {{ range .Site.Menus.secondary }}
                                {{ $isActive := $currentNode.IsMenuCurrent "secondary" . }}
                                {{ partial "li.html" (dict "content" . "isActive" $isActive) }}
                            {{ end }}
                        </ul>
                    {{ end }}
                </nav>
            </div>
        </header>
