<h1>Unsere Partner</h1>

 <div id="partner">
     <h2>Schulen</h2>
     <a href="http://www.igs-kastellstrasse.de/" title="IGS Kastellstraße"><img src="img/partner/IGS%20Logo%20Farbe.png" alt="IGS Kastellstraße"></a>
     <a href="http://helene-lange-schule.templ2.evision.net" title="Helene Lange Schule"><img src="img/partner/Hela%20Farbe.png" alt="Helene Lange Schule"></a>
     <a href="http://www.bluecherschule.de" title="Blücherschule"><img src="img/partner/bluecherschule.jpeg" alt="Blücherschule"></a>
     <a href="http://www.eschenbach-schule.de/eschenbach-schule/Willkommen.html" title="Eschenbach Schule"><img src=" img/partner/Logo-WvE-NEU-Mittelgross.png" alt="Eschenbach Schule"></a>
     <a href="http://www.riederbergschule-wiesbaden.de/" title="Riederbergschule"><img src="img/partner/riederbergschule.jpg" alt="Riederbergschule"></a>

     <h2>Vereine</h2>
     <a href="http://www.rsc-wiesbaden.com/" title="RSC Wiesbaden"><img src="img/partner/RSC%20Logo_neu.jpg" alt="RSC Wiesbaden"></a>
     <a href="http://www.rcbierstadt.de" title="Radfahr-Club 1990 Bierstadt e.V."><img src=" img/partner/RCB%20Logo%20Farbe.png" alt="Radfahr-Club 1990 Bierstadt e.V."></a>
     <a href="http://www.adfc-wiesbaden.de" title="ADFC Wiesbaden"><img src="img/partner/logo_adfc.gif" alt="ADFC Wiesbaden"></a>
     <a href="http://www.rsb-nassau.de/" title="Radsportbezirk Nassau"><img src="img/partner/RCB%20Logo.png" alt="Radsportbezirk Nassau"></a>
     <a href="http://www.mrsv.de/" title="Mainzer Radsportverein e.V."><img src="img/partner/MRV%20Logo%20Farbe.png" alt="Mainzer Radsportverein e.V."></a>
     <a href="http://www.dimb.de/" title="Deutsche Initiative Mountain Bike e.V."><img src="img/partner/DIMB_Logo_Text.png" alt="Deutsche Initiative Mountain Bike e.V."></a>

     <h2>Fahrradläden</h2>
     <a href="http://www.allmountains-wiesbaden.de/index.html" title="Allmountains"><img src="img/partner/aw_logo.png" alt="Allmountains"></a>
     <a href="http://www.frame-factory.de/" title="Frame Factory"><img src="img/partner/framefactory.png" alt="Frame Factory"></a>

     <h2>Weitere</h2>
     <a href="http://www.fit-und-geschickt.com" title="Fit & Geschickt"><img src=" img/partner/Banner%20Fit.jpg" alt="Fit & Geschickt"></a>
     <a href="http://www.evolushen.de/" title="Evolushen"><img src="img/partner/evolushen0.jpg" alt="Evolushen"></a>
     <a href="http://www.tanzlaune.de/" title="Tanzlaune"><img src="img/partner/906333_600702993273050_872090972_o.jpg" alt="Tanzlaune"></a>
     <a href="http://de.makrolog.de/" title="Makrolog Content Management AG"><img src="img/partner/makrolog.png" alt="Makrolog Content Management AG"></a>
     <a href="https://verkehrswendewiesbaden.wordpress.com/" title="Verkehrswende Wiesbaden"><img src="img/partner/Verkehrswende-Wiesbaden.png" alt="Verkehrswende Wiesbaden"></a>
     <a href="http://www.hessen-radsport.de/" title="Hessen Radsport"><img src="img/partner/hessen-radsport.png" alt="Hessen Radsport"></a>
 </div>
 